
html, body {
    margin: 0;
}

body {
    color: white;
    font-family: sans-serif;
    background: black;
}

header nav {
    display: flex;
}

header nav a {
    flex: 1;
    height: 2em;
    color: white;
    line-height: 2em;
    text-align: center;
}

.event{
    border: solid 2px;
    border-radius: 30px;
    display : wrap;
    flex-wrap : wrap;
}

.stade{
    display: flex;
    justify-content: center;
}

.local{
    display: flex;
    justify-content: center;
}

.visiteur{
    display: flex;
    justify-content: center;
}

.match{
    display : flex;
    justify-content: space-around;
}

.date_heure{
    display: flex;
    justify-content: center;
}

