
html, body {
    margin: 0;
}

body {
    color : black;
    font-family: sans-serif;
    background-color: rgb(230, 230, 230);
}

.titre_event{
    margin-left : 20px;
}

.event{
    background: rgb(230, 230, 230);

    margin : 20px ;
    border: solid 2px rgb(206, 206, 206);
    border-radius: 10px;
    box-shadow: 0px 3px 3px rgb(206, 206, 206);
    display : wrap;
    flex-wrap : wrap;
}

.stade{
    margin : 20px ;
    display: flex;
    justify-content: center;
}

.local{
    margin : 20px ;
    display: flex;
    justify-content: center;
}

.visiteur{
    margin : 20px ;
    display: flex;
    justify-content: center;
}

.match{
    display : flex;
    justify-content: space-around;
}

.date{
    margin : 20px ;
    display: flex;
    justify-content: center;
}
.heure{
    margin : 20px ;
    display: flex;
    justify-content: center;
}

.hide{
    display : none ;
}




