{% extends '_base.html' %}
{% load static %}

{% block title %}
More
{% endblock %}

{% block content %}
<div class="container">
    <h2><strong>En</strong> savoir plus</h2>
    {% if message %}
    <div class="alert alert-primary" role="alert">
        {{ message }}
    </div>
    {% endif %}
    <div class="row">
        <div class="col-md-6">
            <h3>Description du tournoi</h3>
            <p>La Rugby Tropical Cup est un événement sportif palpitant qui se déroule dans un cadre exotique, où les équipes de rugby du 
                monde entier se réunissent pour célébrer leur passion pour ce sport fascinant. Ce tournoi unique est une fusion parfaite de 
                compétition sportive intense et de l'environnement tropical spectaculaire, offrant aux joueurs et aux spectateurs une expérience 
                inoubliable.</p>
        </div>
        <div class="col-md-6">
            <h3>Emplacement</h3>
            <p>La Rugby Tropical Cup se déroule dans une destination tropicale de rêve, située sur une île paradisiaque bordée de plages de 
                sable fin et entourée par une eau cristalline. L'emplacement change chaque année pour offrir une variété de décors exotiques 
                à explorer.</p>
        </div>
        <div class="col-md-6">
            <h3>Format du tournoi</h3>
            <p>Le tournoi est ouvert aux équipes de rugby de tous niveaux, des amateurs passionnés aux professionnels chevronnés. Les équipes 
                sont réparties en plusieurs catégories en fonction de leur niveau de compétence, garantissant ainsi une compétition équitable 
                et passionnante.</p>
        </div>
        <div class="col-md-6">
            <h3>Durée du tournoi</h3>
            <p>Le tournoi se déroule sur une semaine, avec des matchs passionnants disputés sur des terrains de rugby spécialement aménagés 
                pour l'occasion. En plus des matchs traditionnels, des variantes du rugby, telles que le beach rugby, le rugby à toucher, et
                d'autres activités connexes sont également organisées pour ajouter de la diversité à l'événement.</p>
        </div>
        </div>
    </div>
</div>
{% endblock %}
