html {
    Font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    overflow-x: hidden;
}

body {
    background-color: rgb(240, 240, 240);
    margin: 0;
    margin-bottom: 50%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 500px;

}

.logo {
    background-color: rgba(240, 240, 240, 0.164);
    border-radius: 30px;;
    position: fixed;
    width: 6%;
    top: 0px;
    padding : 5px;    
}





.background-menu {
    position: relative;
    background-color: #0a0a0a;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    z-index: 1;
    display : flex;
    align-items: center;
    transition: all 0.5 ease-in-out;
}

.menu {
    position: relative;
    width: 100%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 5%;
    list-style: none;
    transition: all 0.25s ease-in-out;
}


.menu .menu-titre .lien-mobile {
    display: none;
}


.menu .menu-titre .lien a {
    display: block;
    color: rgb(255, 255, 255);
    position: relative;
    text-decoration: none;
    font-size: x-large;
    transition: all 0.25s ease;
}

.menu.scroll .menu-titre .lien a {
    color: rgb(0, 0, 0);
}

.menu .menu-titre .lien a:hover:before {
    position: absolute;
    width: 150%;
    height: 150%;
    opacity: 1;
}

.menu .menu-titre .lien a:hover {
    color: rgb(214, 0, 64);
    padding: 3px 0px 3px 0px;
}

.menu .menu-titre .lien a:active {
    color: rgb(114, 114, 114);
}



.start_game{
    display : flex;
    justify-content: center;
    margin-top : 20%;
}



.zone_jeu{
    position : relative ;
    display : flex;
    justify-content: center;
    margin-top : 5%;
}

canvas{
    width : 800px;
    height : 800px;
    border:2px solid;
}