.background{
    background-color: rgb(30, 30, 30);
    color : white;
}

.logo{
    background-color: rgba(30, 30, 30, 0.233);
}

.background .menu .menu-titre .lien a{
    color: rgb(255, 255, 255);
}

.background .menu .menu-titre .lien a:hover {
    color: rgb(229, 233, 2);
}

.background-menu.scroll{
    background-color: rgb(30, 30, 30);
    box-shadow: 0px 3px 3px rgb(55, 55, 55);
}

.prenom_nom{
    color: rgb(255, 255, 255);
}

.background .menu.menu-titre .lien a:active {
    color: rgb(114, 114, 114);
}

.titre_fin{
    color : rgb(229, 233, 2);
}

.mot-page{
    color : rgb(229, 233, 2);
}

.mot_page_typing{
    color : rgb(229, 233, 2);
}

.icon .social-links a{
    background-color: rgb(40, 40, 40);
}

.icon .social-links a:hover {
    color:  #24242b;
    background-color: #ffffff;
}